@media screen and (max-width: 768px) {

  #main-menu a{
    padding: 13px 17px;
  }
  .content-sidebar-wrap,
  #content,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:100% !important;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #sidebar-first,
  #sidebar-second,
  #head,
  #foot {
    padding:0 3.52%;
  }
  
  #top-area .column{ width: 32%; }

  #sidebar-first, #sidebar-second, #head, #foot{ padding: 0 1.5%; }

  .region-front-welcome{ margin: 1% 2%; }

  .block{ margin-bottom: 2%; }

  .content-sidebar-wrap #content{ margin: 0; }

  #footer_wrapper, #top-area { padding: 0 15px; }
}

@media screen and (max-width: 640px) {

  #logo{ margin: 13px 10px; }

  #copyright{ padding: 0 12px;}

  body { margin-top: 0; }
  
  .nivo-caption {
    bottom: 0%;
    padding: 5px;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    width: 100%;
  }

  .front .content-sidebar-wrap{ margin: 0; }

  .theme-default .nivo-controlNav{ padding-top: 10px; }

  .nivo-caption h3{
    font-size: 14px;
    margin: 0;
  }

  .region-front-welcome{ padding: 10px; }

  #site-title,
  #site-description {
    margin:0;  
    line-height:1.62em;
  }
  
  #site-title { padding-top:18px; }
  
  #site-description { padding-bottom:18px; }

  #main-menu ul { display:none; }
  
  #main-menu li ul { position:static; border: 0; }
  
  #main-menu li ul ul { margin:0 !important; border: 0; }
  
  #main-menu ul,
  #main-menu li { float:none; max-width:100%; }

  #main-menu{ border:0; }
  
  #main-menu a {
    width:100%;
    padding:8px 0;
    color: rgb(153, 153, 153);
    border-bottom: 1px solid #1e262d;
    border: 1px solid rgb(222, 222, 222);
  }

  #main-menu a:hover, #main-menu li a.active{
    color: rgb(80, 77, 77);
    text-decoration: none;
    background: url(../../Surreta_mobi/images/menu_bg_hover.png);
  }

  #main-menu li li a { text-align:center; }
  
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display:none;
  }
  
  .drop-down-toggle { display:block; }
  
  #main-menu li li .drop-down-toggle { top:5px; }

/**  #main-menu .nav-toggle {
    display:block;
    font-size:13px;
    font-weight:bold;
    background: #ee0328;
    color: #FFF;
  }*/
  #main-menu .nav-toggle {
/**    display: block;*/
	display:-webkit-inline-box;
    font-weight: normal;
    background: #18222B;
    color: #FFF;
    margin: 0;
    letter-spacing: 1px;
    text-align: left;
    background: url(../images/mobile-menu.png) right 14px #18222B no-repeat;
    padding: 15px;
    width: 50px;
    font-size: 0;
    height: 45px;  
  }
#main-menu .nav-toggle:hover{
    background: url(../images/mobile-menu.png) right 14px #18222B no-repeat;
    color: #fff;
}
/** #main-menu .nav-toggle:hover{
    background: #ee0328;
    color: #fff;
  }
  */

  #main-menu ul.menu li{
    background: url(../../Surreta_mobi/images/menu_bg_hover.png);
  }
  
  .flex-control-nav li { margin:0 0 0 10px; }
  
  .flex-control-nav li:first-child { margin:0; }
  
  .flex-control-nav li a {
    box-shadow:none;
    background:rgba(255, 255, 255, 0.75);
  }
  
  #slider .entry-container {
    position:absolute;
    left:4%;
    bottom:6.3%;
  }
  
  #slider .entry-header,
  #slider .entry-summary {
    margin:0;
  }
  
  #slider .entry-title {
    margin-bottom: 0;
  }
  
  #slider .entry-title a,
  #slider .entry-summary{
    display:inline-block;
    padding:1% 3%;
    background:rgba(255, 255, 255, 0.75);
  }
  
  #slider .entry-summary {
    max-width:61.8%;
  }
  
  #slider .entry-summary p {
    max-height:84px;
    overflow:hidden;
  }
  
  #slider .slide-image {
    float:none;
    display:block;
    max-width:100%;
    padding:0;
    margin:0;
    box-shadow:none;
  }

  .content-sidebar-wrap,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:auto;
  }

  .content-sidebar-wrap #content {
    float: left;
    width:auto;
  }
  
  #sidebar-first .block,
  #sidebar-second .block,
  #footer-area .column,
  #top-area .column {
    float:none !important;
    width:auto !important;
    margin-left:0;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #footer-area .column,
  #top-area .column {
    margin:10px;
  }
  #top-area .column:first-child,
  #footer-area .column:first-child{
    margin: 10px;
  }
  
  .copyright,
  .credits {
    float:none;
    text-align:left;
  }

  .nivo-caption h2{
    font-size: 12px;
    margin: 0;
  }
  .nivo-directionNav{
    display: none;
  }
  .theme-default .nivo-controlNav{
    display: block;
  }

  #footer_wrapper, #top-area { padding: 0; }

}

@media screen and (max-width: 440px) {

  #container{
    margin-top: 0;
  }

  .top_left, 
  .top_right,
  .search_block,
  .region-user-menu{ width: 100%; }

  #logo { text-align: center; width: 100%; }

  #site-title{ width: 100%; }

  #site-title a{ width: 100%; text-align: center; color:#ee0328; display:none !important}

  .social-icons{ position: inherit; width: 100%; }

  .social-icons ul{ text-align: center; }

  .top_right .region-user-menu ul.menu{ float: none; }

  .block-menu ul{ float: none; text-align: center; }

  .top_right .region-search{ width: 100%; padding: 0 31%; }

  input.form-text, select.form-select {
    width: 93%;
  }

  textarea.form-textarea {
    width: 100%
  }

  .block > h2 {
    font-size: 18px;
  }

  #top-area h2{
    font-size: 14px;
  }

  #copyright{
    padding: 0 5px;
  }

  #header{
    padding-top: 15px;
  }

  #logo{
    margin: 8px 0;
    text-align: center;
  }

   #logo img{
    max-width: 85%;
    text-align: center;
  }

  #site-title{
    font-size: 18px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
  }

  #site-description{
	display:none !important; 
    padding-bottom: 5px;
    font-size: 10px;
	text-align:center;
  }

  .social-icons li{
    padding: 0px;
    text-align: center;
  }

  .social-icons li img{
    display: inline-block;
  }

  .menu_wrapper{
    margin-top: 10px;
  }
  .nivo-caption{
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }

  .node{
    margin-top: 5px;
  }

  .nivo-caption h2{
    font-size: 12px;
    margin: 0;
  }

  .nivo-directionNav{
    display: none;
  }

  .theme-default .nivo-controlNav{
    display: block;
  }

  .region-contact-number{ text-align: center; }

}